###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

# Visual Studio cache directory
.vs/

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
What was lost game/Assets/AssetStore/Beach Assets/Blends/Dolphin.blend.meta
What was lost game/Assets/AssetStore/Beach Assets/Blends/Fish1.blend.meta
What was lost game/Assets/AssetStore/Beach Assets/Blends/Fish1.blend.meta
What was lost game/Assets/AssetStore/Beach Assets/Blends/Fish2.blend.meta
What was lost game/Assets/AssetStore/Beach Assets/Blends/Fish3.blend.meta
What was lost game/Assets/AssetStore/Beach Assets/Blends/Manta ray.blend.meta
What was lost game/Assets/AssetStore/Beach Assets/Blends/Shark.blend.meta
What was lost game/Assets/AssetStore/Beach Assets/Blends/Whale.blend.meta
